/* CSS declarations go here */

.active{
    background: #dddd;
}

.mContainer{
    padding: 1%;
}

.imagesContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.imgItem{
    margin: 50px;
}